<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
            
        </ul>
        <ul class="pull-right">
            
        </ul>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Scott Langdon</h1>
        <p>Web Developer</p>
        <a href="#">Learn More</a>
      </div>
    </div> 
    
    <div class="neighborhood-guides">
        <div class="container">
            <p></p>
            <p></p>
            <p>"Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it."</p>
            <p>Steve Jobs</p>
           <div class="row">
                <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/0sX3jq" >
                    </div>
                <div class="thumbnail">
                    <img src="http://goo.gl/an2HXY" >
                    </div>
                </div>
                
                <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/Av1pac" >
                    </div>
                <div class="thumbnail">
                    <img src="http://goo.gl/vw43v1" >
                    </div>
                </div>
                
                <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/0Kd7UO" >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="learn-more">
	  <div class="container">
		<div class="row">
		    <div class="col-md-4"
		</div>
		<div>
	      <div>
			<h3>Education:</h3>
			<p><a href="onemonthrails.com">OneMonthRails</a></p>
			<p><a href="codeacademy.com">Code Academy</a></p>
			<p><a href="teamtreehouse.com">Team Tree House</a></p>
	      </div>
	    </div>
	  </div>
	</div>
  </body>
</html>